.legend-item {
  border-radius: 20px;
  display: inline-block;
  padding: 7px 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 13px;
}

.legend-item:not(:first-child) {
  position: static !important;
}

.legend-circle {
  background-image: url('./check-mark.svg');
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
}

.legend-text {
  color: #fff;
  margin-left: 5px;
  user-select: none;
  display: inline-block;
  vertical-align: middle;
}

.hide-check {
  animation: hide-check 0.5s ease forwards;
}
.show-check {
  width: 0px;
  opacity: 0;
  animation: show-check 0.5s ease forwards;
}

@keyframes hide-check {
  to {
    width: 0px;
    opacity: 0;
  }
}

@keyframes show-check {
  to {
    width: 18px;
    opacity: 1;
  }
}
