.tooltip {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  border-radius: 4px;
  white-space: pre;
  border: 1px solid #ddd;
  padding: 10px 15px;
  animation-duration: 0.5s;
  display: flex;
  flex-direction: column;
  z-index: 1;
  min-width: 200px;
}

.tooltip-header > :last-child {
  background-image: url('./chevron.svg');
  width: 18px;
  height: 18px;
}

.pie-tooltip,
.tooltip-header,
.chart-tooltip-values > * {
  display: flex;
  justify-content: space-between;
}

.tooltip-header {
  font-weight: bold;
}

.chart-tooltip-values > * {
  padding: 10px 0 0;
}

.chart-tooltip-values > * > :last-child {
  font-size: 13px;
  font-weight: bold;
}
