body {
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
}
* {
  box-sizing: border-box;
}

div.time-chart {
  display: inline-block;
  font-family: verdana, sans-serif;
  font-size: 12px;
  position: relative;
  margin: 10px;
  width: 500px;
}
