body {
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
}
* {
  box-sizing: border-box;
}

div#root {
  font-family: verdana, sans-serif;
  font-size: 12px;
}

div.time-chart {
  display: inline-block;
  position: relative;
  padding: 25px;
  width: 550px;
}

div.theme {
  text-align: center;
}
div.theme > div {
  font-weight: bold;
  font-size: 15px;
  padding: 20px;
  display: inline-block;
}

@media (max-width: 550px) {
  div.time-chart {
    width: 100%;
  }
}
